.key {
    background-color: white;
    height: 300px;
    width: 60px;
    border: 2px solid black;
}

.key-text {
    position: relative;
    color: black;
    font-weight: 600;
    font-size: 28px;
    margin-top: 250px;
    pointer-events: none;
}

.key.flat {
    position: relative;
    background-color: black;
    margin-left: -17px;
    margin-right: -17px;
    height: 200px;
    width: 30px;
    z-index: 2;
}


.key.next, .key.flat.next {
    background-color: yellow;
}

.key.pressed, .key.flat.pressed, .key.pressed.next, .key.flat.pressed.next {
    background-color: #4da6ff;
}