.piano {
    display: flex;
    flex-direction: row;
    position: relative;
}

#hand {
  position: absolute;
  z-index: 3;
  top: 260px;
  left: -17px;
  pointer-events: none;
}

.options {
    display: flex;
    flex-direction: row;
}

.options button {
  background-color: darkgray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  flex-grow: 1;
}

.options button.selected {
    background: #555;
    color: white;
}

.options button:hover, .options button.selected:hover {
    background-color: white;
    color: black;
}

select {
	background-color: transparent;
	width: 100%;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1rem;
    color: #444;
	background-color: #EEE;
}
