.piano {
    display: flex;
    flex-direction: row;
    position: relative;
}

#hand {
  position: absolute;
  z-index: 3;
  top: 260px;
  left: -17px;
  pointer-events: none;
}

.options {
    display: flex;
    flex-direction: row;
}

.options button {
  background-color: darkgray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  flex-grow: 1;
}

.options button.selected {
    background: lightblue;
    color: darkblue;
    border: 2px solid darkblue;
}

.options button:hover, .options button.selected:hover {
    background-color: white;
    color: #282c34;
    border: 2px solid lightblue;
}

select {
	background-color: transparent;
	width: 100%;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1rem;
    color: #444;
	background-color: #EEE;
}

#instrumentImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#instrumentImages img {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 0.25em;
    border: 3px solid gray;
    float: left;
    background: white;
    filter: saturate(90%);
}

#instrumentImages img.selected {
    border: 3px solid darkblue;
    background: lightblue;
    filter: saturate(100%);
}


#instrumentImages img:hover {
    border: 3px solid lightblue;
}


.load {
    position:relative;
    z-index: 3;
    display: flex;
    flex-direction: row;
    
}

.load div {
    position:absolute;
    background: rgb(0,0,0,0.7);
    width: 100%;
    height: 304px;
    color: white;
    line-height: 304px;
}

#load_selection div {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#loading_selection div {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

/* loading dots */


#loading_selection div:after {
  content: '.';
  animation: dots 2s steps(5, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;}}



.start button {
  background-color: gray; /* Green */
  border: none;
  color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 4px 2px;
  cursor: pointer;
  flex-grow: 1;
}

.start button:hover {
    background: white;
    color: #282c34;
}
