.piano {
    display: flex;
    flex-direction: row;
    position: relative;
}

#hand {
  position: absolute;
  z-index: 3;
  top: 260px;
  left: -17px;
  pointer-events: none;
}

.options {
    display: flex;
    flex-direction: row;
}

.options button {
  background-color: darkgray; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  flex-grow: 1;
}

.options button.selected {
    background: #555;
    color: white;
}

.options button:hover, .options button.selected:hover {
    background-color: white;
    color: black;
}

select {
	background-color: transparent;
	width: 100%;
	border: 1px solid var(--select-border);
	border-radius: 0.25em;
	padding: 0.25em 0.5em;
	font-size: 1rem;
    color: #444;
	background-color: #EEE;
}

#instrumentImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*
#instrumentImages div {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 0.25em;
    border: 3px solid gray;
    float: left;
    background: white;
}
*/

#instrumentImages img {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 70px;
    border-radius: 0.25em;
    border: 3px solid gray;
    float: left;
    background: white;
    filter: saturate(90%);
}

#instrumentImages img.selected {
    border: 3px solid darkblue;
    background: lightblue;
    filter: saturate(100%);
/*    filter: brightness(1) invert(.3) sepia(0.6) hue-rotate(150deg) saturate(1000%);*/
}


#instrumentImages img:hover {
        border: 3px solid lightblue;
/*
    background-color: rgb(255,0,0,0);
    -webkit-filter: hue-rotate(180deg);
    filter: hue-rotate(180deg);
    filter: brightness(1) invert(.5) sepia(0.4) hue-rotate(110deg) saturate(1200%);
*/
}

